# Sanity CMS Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=m05ykm6e
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=skVqfeMn8it0fP1S7LXWXi50RknehvdTUanKxicAK3zvZNWjeld1jQGP7t8kQq1jt3o6lqYgbzyBONi4xSYJZ8jUD026iSh2Zsn6O1XNA3HdccyVPAzDUSgSQr3ut7GaquHiAomoK1QFm3vmkkNZ1evdlXNmtVOjANGRujygu4aj8KGlSpVh

# Optional: For development
# NEXT_PUBLIC_SANITY_DATASET=development
